{{- range .Values.secrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace | default $.Release.Namespace }}
  labels:
    {{- include "secrets-generator.labels" $ | nindent 4 }}
    {{- with $.Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with $.Values.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: {{ .type | default "Opaque" }}
data:
  {{- range .keys }}
  {{- $length := .length | default 32 }}
  {{- $charset := .charset | default "base64" }}
  {{- $randomValue := "" }}
  {{- if eq $charset "base64" }}
    {{- $randomValue = randAlphaNum ($length | int) | b64enc | trunc ($length | int) }}
  {{- else if eq $charset "alphanumeric" }}
    {{- $randomValue = randAlphaNum ($length | int) }}
  {{- else if eq $charset "hex" }}
    {{- $randomValue = randAlphaNum ($length | int) | sha256sum | trunc ($length | int) }}
  {{- else }}
    {{- $randomValue = randAlphaNum ($length | int) | b64enc | trunc ($length | int) }}
  {{- end }}
  {{- $prefix := .prefix | default "" }}
  {{- $suffix := .suffix | default "" }}
  {{- $finalValue := printf "%s%s%s" $prefix $randomValue $suffix }}
  {{ .name }}: {{ $finalValue | b64enc | quote }}
  {{- end }}
{{- end }}
